@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  background-color: hsl(216, 12%, 8%);
}

.hidden {
  display: none;
}

.container {
  margin: 20% auto;
  /* transform: translate(0, -50%); */
  display: flex;
  flex-direction: column;
  background-color: hsl(213, 19%, 18%);
  /* max-width: 33%; */
  max-width: 40rem;
  padding: 3rem;
  gap: 3rem;
  border-radius: 20px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 4rem;
  max-height: 4rem;
  padding: 2rem;

  background-color: hsl(213, 16%, 22%);
  border-radius: 100%;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}

h1 {
  color: hsl(0, 0%, 100%);
}

.main-text {
  color: hsl(217, 12%, 63%);
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(217, 12%, 63%);
}

.btn {
  font-family: "Overpass", sans-serif;
  font-weight: 700;

  border: none;
  padding: 1rem;
  background: none;
  color: hsl(217, 12%, 63%);
  background-color: hsl(213, 16%, 22%);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;

  cursor: pointer;
}

.btn:active,
.btn:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  transition-duration: 0.2s;
}

.btn:not(:hover) {
  transition-duration: 0.2s;
}

.btn:focus {
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 12%, 63%);
}

/* .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
} */

.submit {
  font-family: "Overpass", sans-serif;

  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;

  background: none;
  border: none;

  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);

  border-radius: 21px;

  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.submit:active,
.submit:hover {
  transition-duration: 0.2s;
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}

.submit:not(:hover) {
  transition-duration: 0.2s;
}

.image {
  max-width: 20rem;
  max-height: 20rem;
}

.thankyou {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.thankyou-text {
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 16%, 22%);
  border-radius: 21px;
  padding: 1rem 3rem;
}

.rating-number {
  display: inline;
  color: hsl(25, 97%, 53%);
}

.attribution {
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 16%, 22%);
  padding: 0.5rem;
}

.link-att {
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 68.75em) {
  .container {
    max-width: 30%;
  }
}

@media (max-width: 61.875em) {
  .container {
    max-width: 30%;
  }
}

@media (max-width: 57.5em) {
  .container {
    max-width: 35%;
  }
}

@media (max-width: 47.875em) {
  .container {
    max-width: 40rem;
  }
}

@media (max-width: 27.5em) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 23.45em) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 40rem;
  }
}
